---
import HeroSection from "@/components/HeroSection.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Portfolio - Lukas Gerhold">
  <HeroSection />

  <section class="h-screen flex flex-col items-center justify-center">
    <p>Add personal infos</p>
  </section>
</Layout>
