---
import JobItem from "@/components/JobItem";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Work - Lukas Gerhold">
  <Header />

  <section class="flex-1 grid grid-cols-2 items-center">
    <div class="flex flex-col gap-12 fade-in-up" style="animation-delay: 0.4s">
      <JobItem
        from="2023"
        to="Today"
        title="FH Upper Austria"
        description="Design of Digital Products"
        type="education"
        url="https://fh-ooe.at/studienangebot/design-of-digital-products-bachelor"
      />

      <JobItem
        from="2020"
        to="2024"
        title="Hofer KG"
        description="Fullstack Development"
        type="job"
      />

      <JobItem
        from="2014"
        to="2019"
        title="HTL Neufelden"
        description="Business & Information Technology"
        type="education"
        url="https://www.htl-neufelden.at/ausbildung/betriebsinformatik/"
      />
    </div>
  </section>
</Layout>
