---
import DateField from "./ui/DateField";

interface Props {
  exploration: {
    slug: string;
    title: string;
    description: string;
    date: string;
    tags: string[];
  };
}

const { exploration } = Astro.props;
---

<a href={"/explorations/" + exploration.slug} class="flex flex-col gap-4 group">
  <div class="flex flex-row items-center">
    <div class="relative">
      <h2 class="text-2xl font-bold">{exploration.title}</h2>
      <span
        class="absolute -bottom-1 left-0 w-full h-[3px] rounded-full bg-primary underline-animate"
      ></span>
    </div>

    <div class="flex-1"></div>

    <DateField client:load date={new Date(exploration.date)} />
  </div>

  <p>{exploration.description}</p>
  <div class="flex gap-2">
    {
      exploration.tags.map((tag) => (
        <span class="text-sm bg-primary text-white bg-opacity-25 px-2 py-1 rounded uppercase">
          {tag}
        </span>
      ))
    }
  </div>
</a>

<style>
  @keyframes line-enter {
    0% {
      transform: scaleX(0);
      transform-origin: left;
    }
    100% {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  @keyframes line-exit {
    0% {
      transform: scaleX(1);
      transform-origin: right;
    }
    100% {
      transform: scaleX(0);
      transform-origin: right;
    }
  }

  .underline-animate {
    animation: line-exit 0.3s ease-out forwards;
  }

  .group:hover .underline-animate {
    animation: line-enter 0.3s ease-out forwards;
  }
</style>
