---
import DancingName from "./DancingName";
---

<header
  class="flex flex-row items-center gap-x-8 gap-y-4 flex-wrap md:gap-20 pt-4 animate-fade-in-up"
  style="animation-delay: 0.8s"
>
  <nav class="flex flex-row items-center gap-4 font-mono text-sm">
    <a href="/" class="font-mono">
      <div class="hidden md:block">
        <DancingName client:load text="Lukas Gerhold" />
      </div>
      <span class="md:hidden">LG</span>
    </a>

    <span class="text-gray-300 select-none">*</span>

    <a href="/work" class="hover:text-primary transition-colors"> Work </a>

    <span class="text-gray-300 select-none">*</span>

    <a href="/explorations" class="hover:text-primary transition-colors"
      >Explorations</a
    >
  </nav>
</header>
