---
import { ClientRouter } from "astro:transitions";
import "../styles/main.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-black">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My portfolio site" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <slot />
</html>

<style is:global>
  :root {
    --speed: 1s;
  }

  ::view-transition-old(root) {
    animation: fadeOut calc(var(--speed) * 0.5) ease-in-out forwards;
  }

  ::view-transition-new(root) {
    animation: fadeIn var(--speed) ease-in-out forwards;
  }

  @keyframes fadeOut {
    from {
      filter: blur(0);
    }
    to {
      filter: blur(15px);
    }
  }

  @keyframes fadeIn {
    from {
      filter: blur(15px);
    }
    to {
      filter: blur(0);
    }
  }
</style>
