---
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="flex flex-col min-h-screen px-12 md:px-[15%]">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Space Mono";
    src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  html {
    font-family: system-ui, sans-serif;
    background: black;
  }

  body {
    width: 100dvw;
    min-height: 100dvh;
    @apply bg-background;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-up {
    opacity: 0;
    animation: fadeInUp 0.6s ease-out forwards;
  }
</style>
