---
import ExplorationItem from "@/components/ExplorationItem.astro";
import { getCollection } from "astro:content";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";

const explorations = await getCollection("explorations");

explorations.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Layout title="Explorations - Lukas Gerhold">
  <Header />

  <div
    class="flex flex-col gap-8 pt-12 fade-in-up"
    style="animation-delay: 0.4s"
  >
    {
      explorations.map((e, i) => (
        <>
          <ExplorationItem exploration={{ slug: e.slug, ...e.data }} />

          {i < explorations.length - 1 && (
            <hr class="border-gray-200 dark:border-gray-800" />
          )}
        </>
      ))
    }
  </div>
</Layout>
